.searchBoxContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 8px;
  width: 230px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.searchInput input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}


.searchInput:focus {
  outline: none;
  border-color:#778899;
}
