.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: 	#F5F5DC;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputField {
  display: block;
  width: 200px;
  padding: 8px 12px;
  margin-top: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color  0.2s;
}

.inputField:focus {
  border-color: 	#808080;
  outline: none;
}

.errorMessage {
  margin-top: 4px;
  color: #e74c3c;
  font-size: 14px;
}

.submitButton {
  align-self: flex-start;
  padding: 8px 16px;
 background-color:	#F0E68C		;  
 color: 	#ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color:	#BDB76B			;
}



